<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Custom Carousel JS -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  var carousels = document.querySelectorAll('.property-carousel');
  carousels.forEach(function(carousel) {
    var flickity = new Flickity(carousel, {
      cellAlign: 'left',
      contain: true,
      pageDots: false,
      prevNextButtons: false
    });

    var nav = carousel.closest('.property-image-container').querySelector('.carousel-nav');
    if (nav) {
      var prevButton = nav.querySelector('.carousel-prev');
      var nextButton = nav.querySelector('.carousel-next');

      if (prevButton) {
        prevButton.addEventListener('click', function() {
          flickity.previous();
        });
      }

      if (nextButton) {
        nextButton.addEventListener('click', function() {
          flickity.next();
        });
      }
    }
  });
});
</script>
